.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topo img {
  width: 100%;
}

.cursosTitle {
  padding: 30;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cursosTitle h2 {
  font-size: 25px;
}

.c {
  margin: 20px;
}

.textoCurso {
  flex: 1;
  justify-content: "center";
  align-items: "center";
  display: flex;
  padding: 20px;
  margin-top: -40px;
  height: 500px;
  flex-direction: column;
}

@media (max-width: 900px) {
  .foto {
    width: 100%;
  }
  .sobre {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .cursos {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .textoSobre {
    width: 100%;
    padding: 10px;
  }
  .textoDireita {
    width: 100%;
    padding: 10px;
    float: right;
  }
  .imgCurso {
    width: 100%;
  }
}

.textoDireita img {
  width: 100%;
}

@media (min-width: 900px) {
  .textoSobre {
    width: 100%;
    padding: 20px;
  }
  .textoDireita {
    width: 50%;
    padding: 10px;
    float: right;
  }
  .sobre {
    width: 35%;
    align-items: center;
    float: right;
    display: flex;
    flex-direction: column;
  }
  .cursos {
    width: 65%;
    display: flex;
    flex-direction: row;
    max-height: 300px;
  }
  .imgCurso {
    width: 50%;
  }
  .textoCurso {
    padding-top: 70px;
  }
  .contato {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.foto {
  width: 100%;
  padding: 2px;
}

.foto img {
  width: 100%;
}

.galeria {
  flex-direction: row;
  width: 100%;
  display: flex;
}

.cursos {
  border-bottom: 1px solid #eaeaea;
}

.imgCurso {
  display: flex;
  align-content: center;
  padding: 30px;
}

.imgCurso img {
  width: 100%;
}

.textoCurso Button {
  margin-top: 30px;
}

.foto img {
  width: 100%;
}

.footer {
  width: 100%;
  height: 40px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title, .description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover, .card:focus, .card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}